body {
    margin: 0;
    background: black;
}

h1 {
    color: white;
}

.content-container {
    position: absolute; 
    min-width: 100%; 
    min-height: 100%; 
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .sub-container {
        position: relative;
        color: darkgrey;
    }
}
    