// sass varibles
// import into individual .sccs files to use them

$color-background:     #6D6E64;
$color-block:     #2D2D2D;
$color-txt-primary:     #61E786;
$color-txt-hoover:     #D2E52A;

// $font-primary: 'Trebuchet MS';

//   --color-thumbnail: #5A5B52;
//   --color-white: #BCBDB9;
  
//   --font: Monaco;
